{% extends 'base.html' %}

{% block contenido %}

<div class="card">
    <div class="card-body">
        <div class="row mt-2">
            <div class="col-md-6">
                <h3>Listando Tareas</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-hover w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tarea</th>
                            <th>Descripcion</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tareas %}
                        <tr>
                            <td>{{t.id_tarea}}</td>
                            <td>{{t.nombre}}</td>
                            <td>{{t.descripcion}}</td>
                            <td>
                                <a href="{% url 'editar' t.id_tarea %}" class="btn btn-warning w-100">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar' t.id_tarea %}" class="btn btn-danger w-100">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock%}